    :root{
       --background-color : white;
    }
    
    *{
        margin : 0px;
        padding : 0px;
        box-sizing : border-box;
        user-select: none;
        
    }

    body.light{
       
    background: #f9f9f9;
    height:auto;
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    margin-top: 3%;
    overflow: auto;
        
    }

    .display{

        display: grid;
        height: 2000px;
        width: 100%;
        background-color: #f9f9f9;

        /*Grid property*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 3fr 3fr 800px;
        grid-template-areas: 
        "nav nav"
        "addl analyse"
        "addl Textanalyse"
        "list list "
        ;

        row-gap: 10px;
        column-gap: 10px;

    }

    .Nav{
        position: sticky;
        z-index:1000;
        grid-area: nav;
        top:0px;

        max-height: 70px;
        min-height: 50px;
       
        background-color: #fdfdfd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        border: 1px solid #ddd;

        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-left :2%;
        padding-right: 2%;
        column-gap: 50px;
        

    }



    .Nav .item{
        width:inline;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 20px;
        color: #333;
        
      

    }

        #nav-title{
        font-size: 34px;
        color: #333;
        line-height: 1.5;
        font-weight: 900;
        position: relative;
        margin-right: auto;
        
    }

 
    .To-do-list-description{
        grid-area: addl;
        display: grid;

        /*Padding Values*/
        padding-top: 20px;
        padding-left:40px;
        padding-right:40px;
        padding-bottom:40px;

        grid-template-columns:1fr;
        grid-template-rows:auto auto 2fr 100px;
        row-gap: 20px;

        
 
    }

     #task-title{

        font-size: 40px;
        color: #333;
        line-height: 1.5;
        font-weight: 900;
        
     }
     

      .To-do-list-description p{
        font-size: 24px;
        margin-bottom: 10px;

      }
   

    .Graphic-Analysis{
        grid-area: analyse;
 
    }

    .Text-Analysis{
        grid-area: Textanalyse;

    }

    .list{
        grid-area:list;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:center;
        padding:100px;
        row-gap: 20px;
        overflow: scroll;

    }




    .task-slab{
        width:100%;
        height: 150px;
        background-color: #fdfdfd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        border: 1px solid #ddd;
        border-left:5px yellow solid;
        padding-left:20px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        
    }

    .status{
        font-size: 20px;
        color: #333;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 10px;
        width: auto;
        padding: 1px 50px;
        border-radius: 20px;
        background-color: yellow;
    }

    .name-task{
        font-size: 30px;
        color: #333;
        line-height: 1.5;
        font-weight: 900;
        margin-bottom: 10px;
    }
    
    .Graphic-Analysis{
      display: flex;
      justify-content: center;  
      align-items: center;
    }



     .list ,.Graphic-Analysis,.Text-Analysis,.To-do-list-description{
        
        background-color: #fdfdfd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        border: 1px solid #ddd;


    }

    #complete-btn{
        background-color: rgb(0, 128, 0);
        color: white;
        border-radius: 10px;
        height: 40px;
        width: 100px;
        border:none;
        font-size: 12px;
        cursor: pointer;
    }

    #delete-btn{
        background-color: rgb(255, 0, 0);
        color: white;
        border-radius: 10px;
        height: 40px;
        width: 100px;
        border:none;
        font-size: 12px;
        cursor: pointer;
    }

    #task-heading{
        width:100%;
        height:50px;
        border-radius:10px;
        border:rgb(181, 180, 180) 1px solid;
          font-size: 25px;
           padding-left:15px;
           overflow: scroll;

       
      
    }

    #task-heading:focus{

        border:rgb(54, 54, 54) 1px solid;
        outline: none;
        padding-left:15px;
        font-size: 25px;

    }

    #task-description-box{

        width:100%;
        border-radius:10px;
        height: 80% ;
        border:rgb(181, 180, 180) 1px solid;
        font-size: 25px;
         padding-left:15px;
         font-style: italic;
         overflow: scroll;
          padding-top:10px;

    }


    #task-description-box:focus{
        border:rgb(54, 54, 54) 1px solid;
        outline: none;
        padding-left:15px;
        font-size: 25px;
        overflow: scroll;
    }

    #save-btn{

         border-radius:10px;
         height:60px;
         margin-top: 10px;
         color:white;
         background: rgb(200, 2, 255);
         border:rgb(181, 180, 180) 1px solid;
         font-size: 20px;
         font-weight: 100;
         letter-spacing: 3px;
    }

     #save-btn:hover{

       transform: scale(1.05);
        background: rgb(218, 85, 255);
    }

    #display-description{
     height : 500px;
     width : 700px;
   
     z-index:9999;
     position:fixed;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      display: none;
      box-shadow: 0 2px 8px rgba(0, 0,0,0.15);
      border: 1px solid #ddd;

      padding: 20px;
      color:rgb(0, 0, 0);

      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: scroll;
      row-gap: 10px;


    
  }

  #close-btn{
    background-color: rgb(74, 74, 74);
    position:fixed;
    bottom:40px;
    color: white;
    height:40px;
    width: 100px;
    border:none;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
  }


  .circle-display{
    display: flex;
    justify-content: center;
    align-items: center;
    transform:rotateZ(-150deg);

  }

  .circle {

    width :  250px;
    height:  250px;  
    border-radius: 50%;
    background:conic-gradient(grey 0deg 300deg ,transparent 300deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .inner-circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: black;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    transform: rotateZ(150deg);
  }
  
  .norm{
    font-size:20px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: auto;
  }

  .Text-Analysis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;

  }
  

  .tit{
    font-size: 100px;
    font-weight:lighter;
  }
  

  


    /*For mobile layout */

    @media (max-width: 1000px) {
  .display {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 500px;
    grid-template-areas:
      "nav"
      "addl"
      "analyse"
      "Textanalyse"
      "list";
  }

  .Nav{
    column-gap: 10px;
  }

 




  #nav-title{
    font-size: 20px;
        color: #333;
        line-height: 1.5;
        font-weight: 900;
        position: relative;
        margin-right: auto;
        
  }
  .To-do-list-description{
    min-height: 400px;
    overflow:scroll;

  }

  .Graphic-Analysis,.list,.Text-Analysis{
    min-height: 300px;
  }

  .list{
    padding: 20px;
  }

  .task-slab {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
}


